.hlist.badge-list {
    /*
    This allows us to have an unlimited amount of Roblox Badges on our profile! 
    */
    max-height: unset !important;
}

.jmk-badge {
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
    width: 140px !important;
    height: 140px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}