/*
This allows us to have an unlimited amount of Roblox Badges on our profile! 
For debugging, you can enable this so you don't have to press "See More" to look at all the badges.
*/

/*
.hlist.badge-list {
    max-height: unset !important;
}
*/

.jmk-badge {
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
    width: 140px !important;
    height: 140px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}